		body {
            font-family: sans-serif;
            background-color: white;
            color: black;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: black;
            color: white;
			padding: 16px 32px;
        }
        .logo {
            font-size: 24px;
            font-weight: bold;
        }
		.logo a {
			text-decoration: none;
			color:white;
        }
        .nav-links {
            display: flex;
            gap: 16px;
        }
        .nav-links a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
        .nav-links a:hover {
            text-decoration: underline;
        }
		
		.cover-bg h1 {
			    font-size: 36px;
				font-weight: bold;

		}
		.cover-bg p {
			    font-size: 18px;
		}
		 .cover-bg {
			color: white;
            padding: 150px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
			background-position: center !important;
			background-size: cover !important;
			text-shadow: 0 0 11px black;
		 }
		 .profile-background {
            background: url("../../assets/img/profile.jpg");
        }
		.progress-background {
            background: url("../../assets/img/Foto1.jpg");
        }
		.workouts-background {
            background: url("../../assets/img/workouts.jpg");
        }
		.community-background {
            background: url("../../assets/img/community.jpg");
        }
		.nutrition-background {
            background: url("../../assets/img/nutrition.jpg");
        }
		.settings-background {
            background: url("../../assets/img/settings.jpg");
        }
		.text-background {
			 background: url("../../assets/img/Foto1.jpg");.
			 background-position:top;
		}
		

		
		
		main {
		  padding: 12px;
		}
		section {
		  margin-bottom: 12px;
		  background: white;
		  padding: 20px;
		  border-radius: 8px;
		  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}
		 footer {
		  text-align: center;
		  padding: 5px;
		  background: #333;
		  color: white;
		}
        section a {
			text-decoration: none;
            font-size: 16px;
			color:black;
        }		
		
		section {
			  max-width: 600px;
			  margin: 25px auto;
			  padding: 20px;
			  background: white;
			  border-radius: 8px;
			  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}
		.profile-row, .settings-row
			{
				padding: 12px;
				background: white;
				border-radius: 8px;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
				margin: 5px 0px 15px 0px;
			}
					 
		
			form {
		  display: flex;
		  flex-direction: column;
		  gap: 20px;
			}
			.form-row {
		  display: flex;
		  flex-direction: column;
		}
		label {
			  font-weight: bold;
			  margin: 10px 0px 10px 0px;
			}
			input,textarea {
				  width: 100%;
				  padding: 0.8rem;
				  border: 1px solid #ccc;
				  border-radius: 4px;
				  font-size: 1rem;
				}
				textarea {
				  resize: vertical;
				  min-height: 100px;
				}
				
				button {
				  padding: 12px;
				  background-color: black;
				  color: white;
				  border: none;
				  border-radius: 4px;
				  font-size: 1rem;
				  cursor: pointer;
				  text-align: center;
				}
				thead th {
						  background-color: white;
						  color: black;
						  font-weight: bold;
						  padding: 0.75rem;
						  text-align: left;
						}
				table {
					width:100%
					}